body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #32c755;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #188331;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container .back button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container .back button:hover {
    background-color: #0056b3;
}


#certForm {
    transform: translate(0%, 50%);
}

#certificate {
    background-image: url('rainbow-funny-meme-mlg-lsb1qwb1lx421etg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    height: 510px;
    width: 100%;
    max-width: 800px;
    margin-top: 200px;
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000; 
}

h1 {
    transform: translate(0%, -50%);
    letter-spacing: 2px;
}

#certificate h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#certificate h2, #certificate h3, #certificate h4 {
    margin: 10px 0;
}

#certificate p {
    font-size: 24px;
    margin: 20px 0;
}

.cert-footer {
    position: absolute;
    bottom: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.cert-footer .left {
    text-align: left;
}

.cert-footer .right {
    text-align: right;
}

#returnButton {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#returnButton:hover {
    background-color: #0056b3;
}

#printButton {
    color: #0056b3;
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#printButton:hover {
    background-color: #0056b3;
}

@media print {

    body {
        margin: 0;
        background-color: #fff;
    }

    #certificate {
        background-image: url('rainbow-funny-meme-mlg-lsb1qwb1lx421etg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        height: 510px;
        margin-top: 120px;
        text-align: center;
        position: relative;
        color: white;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 
            -2px -2px 0 #000,  
             2px -2px 0 #000,
            -2px  2px 0 #000,
             2px  2px 0 #000;
    }

    .cert-footer {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        align-items: flex-end;
        transform: translate(0%, 70%);
    }

    .cert-header {
        width: 50%;
        transform: translate(50%, -30%);
    }

    .cert-footer .left, .cert-footer .right {
        width: 50%;
    }

    #returnButton {
        display: none !important;
    }

    #printButton {
        display: none !important;
    }

    .back {
        display: none !important;
    }

    @page {
        size: 11in 8.5in;
    }
}