body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #32c755;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #188331;
}

#certForm{
    transform: translate(0%,50%);
}

#certificate {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
    margin-top: 200px;
    text-align: center;
    position: relative;
    border: 2px solid #ff0000;
}

#certificate .cert-header {
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
}

.cert-header{
    background-color: #ff0000;
    width: 50%;
    transform: translate(50%,-30%);
}

h1{
    transform: translate(0%,25%);
}

#certificate h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#certificate h2, #certificate h3, #certificate h4 {
    margin: 10px 0;
}

#certificate p {
    font-size: 18px;
    margin: 10px 0;
}

.cert-footer {
    position: absolute;
    bottom: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.cert-footer .left {
    text-align: left;
}

.cert-footer .right {
    text-align: right;
}

#returnButton {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#returnButton:hover {
    background-color: #0056b3;
}


#printButton{
    color:#0056b3;
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#printButton:hover {
    background-color: #0056b3;
}


@media print {

    body {
        margin: 0;
        background-color: #fff;
    }

    #certificate {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 300px;
        width: 800px;
        text-align: center;
        position: relative;
    }

    .cert-footer {
        position: static;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        align-items: flex-end;
        transform: translate(0%,70%);
    }

    .cert-header{
        width: 50%;
        transform: translate(50%,-30%);
    }    

    .cert-footer .left, .cert-footer .right {
        width: 50%;
    }
    
    #returnButton {
        display: none !important;
    }

    #printButton {
        display: none !important;
    }

    .back{
        display: none !important;
    }

    @page {
        size: 11in 8.5in;
    }
}